absl-py==2.1.0
annotated-types==0.7.0
cachetools==5.5.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
Cython==0.29.21
dm-env==1.6
dm-tree==0.1.8
-e git+ssh://git@github.com/ChangWinde/RAT.git@e6cc19243d3ac18854b136b39448f843ebad9fd1#egg=dm_control&subdirectory=custom_dmcontrol
-e git+ssh://git@github.com/ChangWinde/RAT.git@e6cc19243d3ac18854b136b39448f843ebad9fd1#egg=dmc2gym&subdirectory=custom_dmc2gym
docker-pycreds==0.4.0
etils==1.3.0
eval_type_backport==0.2.2
fasteners==0.19
filelock==3.13.1
fsspec==2024.6.1
future==1.0.0
gitdb==4.0.12
GitPython==3.1.44
glfw==2.8.0
google-auth==2.38.0
google-auth-oauthlib==1.0.0
grpcio==1.70.0
gym==0.25.2
gym-notices==0.0.8
h5py==3.11.0
hydra-core==0.11.3
idna==3.10
imageio==2.35.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
Jinja2==3.1.4
labmaze==1.0.6
lazy_loader==0.4
lxml==5.3.0
Markdown==3.7
MarkupSafe==2.1.5
-e git+ssh://git@github.com/Farama-Foundation/Metaworld.git@04be337a12305e393c0caf0cbf5ec7755c7c8feb#egg=metaworld
mpmath==1.3.0
mujoco==3.2.3
mujoco-py==2.1.2.14
networkx==3.1
numpy==1.24.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.20.5
nvidia-nvtx-cu11==11.8.86
oauthlib==3.2.2
omegaconf==1.4.1
packaging==24.2
pandas==2.0.3
pillow==10.4.0
platformdirs==4.3.6
protobuf==5.29.3
psutil==6.1.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
PyOpenGL==3.1.9
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2025.1
PyWavelets==1.4.1
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
scikit-image==0.21.0
scipy==1.10.1
sentry-sdk==2.20.0
setproctitle==1.3.4
six==1.17.0
smmap==5.0.2
sympy==1.13.1
tensorboard==2.14.0
tensorboard-data-server==0.7.2
termcolor==2.4.0
tifffile==2023.7.10
torch==2.4.1+cu118
torchaudio==2.4.1+cu118
torchvision==0.19.1+cu118
tqdm==4.67.1
triton==3.0.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.2.3
wandb==0.19.5
Werkzeug==3.0.6
zipp==3.20.2
